:root {
    /*Fontes*/
    --font-dm-sans: "DM sans", sans-serif;
    --color-white-first: #fff;
    --color-white-second: #b3b3b3;
    --color-gray-first: #121212;
    --color-gray-second: #242424;
}